
derby.log

# Eclipse config
.project
.classpath
.settings/

# Maven output
target/
pom.xml.releaseBackup
release.properties
/target/

# IntelliJ IDEA
.idea/
*.iml

# Emacs
*~

# OS folder lists
.DS_Store
Thumbs.db

venv
*.pyc

