---
layout: default
---
<h3 id="{{page.identifier}}">{{page.title}}</h3>
{% if page.subtitle %}
<h5>{{page.subtitle}}</h5>
{% endif %}
{% if page.description %}
<p>{{page.description}}</p>
{% endif %}
<ul> 
<li>{{page.title}} Specification <a href="document.html" target="_blank">[HTML]</a> <a href="11-052r4_OGC_GeoSPARQL.pdf" target="_blank">[PDF]</a> <a href="citeme.bib" target="_blank">[BIBTEX]</a> </li>
<li>{{page.title}} Ontology <a href="geo.html" target="_blank">[HTML]</a> <a target="_blank" href="geo.ttl">[TTL]</a> <a target="_blank" href="geo.n3">[N3]</a> <a target="_blank" href="geo.json">[JSON-LD]</a> <a target="_blank" href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/opengeospatial/ogc-geosparql/master/1.0/geo.ttl">[WebVOWL]</a></li>  
<li>{{page.title}} Profile <a target="_blank" href="profile.html">[HTML]</a> <a target="_blank" href="profile.ttl">[TTL]</a></li>
<li>{{page.title}} Functions <a target="_blank" href="functions.html">[HTML]</a> <a target="_blank" href="functions.ttl">[TTL]</a> <a target="_blank" href="functions.n3">[N3]</a> <a target="_blank" href="functions.json">[JSON-LD]</a> <a target="_blank" href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/opengeospatial/ogc-geosparql/master/1.0/functions.ttl">[WebVOWL]</a></li>
<li>{{page.title}} Rules <a target="_blank" href="rules.html">[HTML]</a> <a target="_blank" href="rules.ttl">[TTL]</a> <a target="_blank" href="rules.n3">[N3]</a> <a target="_blank" href="rules.json">[JSON-LD]</a> <a target="_blank" href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/opengeospatial/ogc-geosparql/master/1.0/rules.ttl">[WebVOWL]</a></li>
<li>{{page.title}} Simple Features Definition <a target="_blank" href="sf_geometries.html">[HTML]</a> <a target="_blank" href="sf_geometries.ttl">[TTL]</a> <a target="_blank" href="sf_geometries.n3">[N3]</a> <a target="_blank" href="sf_geometries.json">[JSON-LD]</a> <a target="_blank" href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/opengeospatial/ogc-geosparql/master/1.0/sf_geometries.ttl">[WebVOWL]</a></li>
<li>{{page.title}} Service Description 
<ul>
<li>Extensions <a target="_blank" href="servicedescription_extensions.html">[HTML]</a> <a target="_blank" href="servicedescription/servicedescription_extensions.ttl">[TTL]</a> <a target="_blank" href="servicedescription_extensions.json">[JSON-LD]</a> <a target="_blank" href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/opengeospatial/ogc-geosparql/master/1.0/servicedescription/servicedescription_extensions.ttl">[WebVOWL]</a></li>
<li>Function Descriptions <a target="_blank" href="servicedescription_all_functions.html">[HTML]</a> <a target="_blank" href="servicedescription/servicedescription_all_functions.ttl">[TTL]</a> <a target="_blank" href="servicedescription_all_functions.json">[JSON-LD]</a> <a target="_blank" href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/opengeospatial/ogc-geosparql/master/1.0/servicedescription/servicedescription_all_functions.ttl">[WebVOWL]</a></li>
<li>Feature Descriptions <a target="_blank" href="servicedescription_conformanceclasses.html">[HTML]</a> <a target="_blank" href="servicedescription/servicedescription_conformanceclasses.ttl">[TTL]</a> <a target="_blank" href="servicedescription_conformanceclasses.json">[JSON-LD]</a> <a target="_blank" href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/opengeospatial/ogc-geosparql/master/1.0/servicedescription/servicedescription_conformanceclasses.ttl">[WebVOWL]</a></li>
</ul> 
</li>
</ul>
<p>All resources may also be accessed in the <a href="https://github.com/opengeospatial/ogc-geosparql/tree/{{page.branch}}">{{page.title}}</a> Branch of this respository</p>